<form [formGroup]="creationRoomForm" (ngSubmit)="onSubmit()">
  <div class="imgcontainer">
    <!--<img src="image.png" alt="Avatar" class="avatar"> insert image here-->
  </div>

  <div class="form-group">
    <div><!-- class="form-control">-->
      <label for="roomName"><b>Room name</b></label>
      <input type="text" placeholder="Enter room name" name="roomName" formControlName="roomName" required>
    </div>

    <div><!-- class="form-control">-->
      <label for="roomPrice"><b>Room price</b></label>
      <input type="text" placeholder="Enter room price" name="roomPrice" formControlName="roomPrice" required>
    </div>
    <div><!-- class="form-control">-->
      <label for="roomPersons"><b>Room persons</b></label>
      <input type="text" placeholder="Enter room persons" name="roomPersons" formControlName="roomPersons" required>
    </div>
    <div><!-- class="form-control">-->
      <label for="roomType"><b>Type of room: </b></label><br>
      <input type="radio" placeholder="For admin" name="roomType" formControlName="roomType" value="NORMAL" required>Normal
      <input type="radio" placeholder="For user" name="roomType" formControlName="roomType" value="COMFORT" required>Comfort
      <input type="radio" placeholder="For admin" name="roomType" formControlName="roomType" value="SUPERIOR" required>Superior
    </div>

    <button type="submit">Create Room</button>

  </div>

  <div class="container" style="background-color:#f1f1f1">

  </div>
</form>